---
import { cn } from '@/lib/utils'

import { Button, buttonVariants } from '@/components/ui/button'
import { Icon } from 'astro-icon/components'
import type { VariantProps } from 'class-variance-authority'

interface Props extends VariantProps<typeof buttonVariants> {
  icon?: string
  class?: string
  variant?: keyof typeof buttonVariants
  link?: string
  external?: boolean
}

const { icon, class: className, variant, link, external = true } = Astro.props
---

<a href={link} target={external ? '_blank' : '_self'}>
  <Button className={cn(
    'cursor-pointer hover:scale-102 gap-2',
    buttonVariants({ variant }),
    className)}
>
    {
      icon != undefined ? (
       <Icon
              name={icon}
              class={cn(
                'h-4 w-4 shrink-0 transition-transform duration-200'
              )}
            />
      ) : (
        <></>
      )
    }

    <slot />
  </Button>
</a>